[submodule "themes/hugo-theme-m10c"]
	path = themes/hugo-theme-m10c
	url = git@github.com:vaga/hugo-theme-m10c.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
